<div class="struct" id="top">
  <div class="nav" id="black">
    <div class="hl">
      <h1 class="logo">L</h1>
       <%= link_to "sample app", '#', id: "logo" %>
    </div>
    <div class="hm">
    </div>
    <div class="hr">
       <div id="type">
        <p id="typedA">for problem solvers. </p>
        <p id="typedB">change we require will not be downloaded or hyperlinked...alone. </p>
      </div>
    </div>
  </div>
</div> 